<div>
    <a href="https://github.com/Brianalvezz"><img src="../../../assets/github.png" class="img-fluid" id="github"></a>
    <a href="https://www.linkedin.com/in/brian-alvez-3b1a66264/"><img src="../../../assets/linkedin.png" class="img-fluid" id="linkedin"></a>
    <a href="https://www.facebook.com/brian.alvez.14"><img src="../../../assets/facebook.png" class="img-fluid" id="facebook"></a>
    <a href="https://twitter.com/Brian_alvezz"><img src="../../../assets/twitter.png" class="img-fluid" id="twitter"></a>
    <a href="https://www.instagram.com/brian.alvezz/"><img src="../../../assets/instagram.png" class="img-fluid" id="instagram"></a>
</div>