/*Configuración de estilos para cada tamaño*/
@media (min-width: 1px) {
    #facebook {
        position: relative;
        margin-top: -6%;
        float: right;
        width: 3%;
        left: -1%;
    }
    #linkedin {
        position: relative;
        margin-top: -6%;
        float: right;
        width: 3%;
        left: -5%;
    }
    #instagram {
        position: relative;
        margin-top: -6%;
        float: right;
        width: 3%;
        left: -13%;
    }
    #github {
        position: relative;
        margin-top: -6%;
        float: right;
        width: 3%;
        left: -9%;
    }
    #twitter {
        position: relative;
        margin-top: -6%;
        float: right;
        width: 3%;
        left: -17%;
    }
}