/*Configuración de estilos para cada tamaño*/
@media (min-width: 1px) {
    #banner {
        width: 100%;
        height: 100px;
        margin-top: -2%;
    }
}
@media (min-width: 414px) {
    
}
@media (min-width: 576px) {
    
}
@media (min-width: 700px) {
    
}
@media (min-width: 900px) {
    
}
@media (min-width: 1200px) {
    
}