<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore incidunt ea, doloremque, ipsa laborum laudantium qui aut quaerat quisquam rerum praesentium repudiandae sunt voluptate beatae nesciunt, saepe vel. Aliquam!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Segundo Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore incidunt ea, doloremque, ipsa laborum laudantium qui aut quaerat quisquam rerum praesentium repudiandae sunt voluptate beatae nesciunt, saepe vel. Aliquam!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Tercer Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore incidunt ea, doloremque, ipsa laborum laudantium qui aut quaerat quisquam rerum praesentium repudiandae sunt voluptate beatae nesciunt, saepe vel. Aliquam!
            </p>
        </ul>
    </div>
</div>